<!DOCTYPE html>
<html>
<head>
  <title>FalafelFinder</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	
	<nav>
		<ul>
			<li><a href="">Home</a></li>
			<li><a href="">Posts</a></li>
			<li><a href="">Reviews</a></li>
			<li><a href="">Authors</a></li>
		</ul>
	</nav>
	
</header>
<%= yield %>

</body>
</html>
